@model IEnumerable<ALvl_ExamProject.MVC.Models.ProductPL>

@{
    ViewBag.Title = "GetAllProducts";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Products</h2>
<select id="SelectCategory" name="SelectCategory" style="margin:10px">
    <option value="0">All</option>
    @foreach (var item in ViewBag.Categories)
    {
        if (ViewBag.ChosenCategory == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>
<br />

@Html.Action("PaginatedPage", new { listProducts = Model.ToList() })

@section Scripts
    {
    <script src="~/Scripts/CustomJS/ShopGetAllProductsScript.js"></script>
    <script src="~/Scripts/CustomJS/DeleteConfirmation.js"></script>
}
