@using PagedList.Mvc;
@using PagedList;

@model IEnumerable<ALvl_ExamProject.MVC.Models.ProductPL>

@{
    ViewBag.Title = "GetAllProducts";
}
@{
    var imageDirectory = System.Configuration.ConfigurationManager.AppSettings["ImageFolder"];
}


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Products</h2>
<select id="SelectCategory" name="SelectCategory">
    <option value="0">All</option>
    @foreach (var item in ViewBag.Categories)
    {
        if (ViewBag.ChosenCategory == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }

</select>
<br />

<p>
    @Html.ActionLink("Create product", "CreateProduct")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.SinglePage)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @{ 
                    var pathToThumb = Path.Combine(imageDirectory.ToString(), "Products\\Thumbs");
                }
         
                    <img src="@imageDirectory\Products\Thumbs\@item.ImagePath" />
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = item.Id }) | 
                @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList) ViewBag.SinglePage, page => Url.Action("GetAllProducts", new { page, categoryId = ViewBag.ChosenCategory}))
