@model IEnumerable<ALvl_ExamProject.MVC.Models.ProductPL>

@{
    ViewBag.Title = "GetAllProducts";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Products</h2>
<select id="SelectCategory" name="SelectCategory" style="margin:10px">
    <option value="0">All</option>
    @foreach (var item in ViewBag.Categories)
    {
        if (ViewBag.ChosenCategory == item.Value)
        {
            <option selected="selected" value="@item.Value">@item.Text</option>
        }
        else
        {
            <option value="@item.Value">@item.Text</option>
        }
    }
</select>

@*<div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>*@
<br />

@Html.Action("PaginatedPage", new { listProducts = Model.ToList() })

@section Scripts
    {
    <script src="~/Scripts/CustomJS/ShopGetAllProductsScript.js"></script>
    <script src="~/Scripts/CustomJS/DeleteConfirmation.js"></script>
}
