@model IEnumerable<ALvl_ExamProject.MVC.Areas.Admin.Models.OrdersPLAdmin>

@{
    ViewBag.Title = "OrdersHistory";
}

<h2>Orders History</h2>

@if (!Model.Any())
{
    <h2 class="text-center">There are no orders</h2>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
           Order Details
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @foreach (var order in item.UserOrderHistory)
            {
                @order.Key @:x @order.Value
            <br/>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)$
        </td>
    </tr>
}

</table>
