@model IEnumerable<ALvl_ExamProject.MVC.Models.ShopCartPL>

@{
    ViewBag.Title = "Shopping cart";

    int count = 1;
}

<div class="text-center">
    <h2>Shopping cart</h2>
</div>
<div class="text-md-right align-text-bottom">
    <h4>@Html.ActionLink("Check order history", "OrdersHistory", "ShopCart", new { style = "color:Black"})</h4>
</div>

@if (ViewBag.Message != null)
{
    <h4>@ViewBag.Message</h4>
}
else
{
    <div class="preloaderajax">
        <span>
            <img src="~/Content/CustomImages/preloader.gif" />
        </span>
    </div>

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>

            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPL.Name)
                </td>
                <td class="qty@(item.ProductPL.Id)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)$
                </td>
                <td>
                    @if (item.ProductPL.ImagePath != null)
                    {
                        <img src="/Images/Uploads/Products/Thumbs/@item.ProductPL.ImagePath" width="125" />
                    }
                    else
                    {
                        <img src="~/App_Files/Images/noimage.png" width="200" />
                    }
                </td>
                <td>
                    <a href="#" class="plusproduct" data-id="@item.ProductPL.Id">Add</a>
                    <a href="#" class="minusproduct" data-id="@item.ProductPL.Id">Remove item</a>
                    <a href="#" class="removeproduct" data-id="@item.ProductPL.Id">Clean</a>
                </td>
                <td class="total@(item.ProductPL.Id)">
                    @Html.DisplayFor(modelItem => item.Total)$
                </td>
            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="totalamount">
                <b>
                    Total amount:
                </b>
                <span>
                    @ViewBag.TotalAmount $
                </span>
            </td>
        </tr>

    </table>

    <div class="paypal">
        <form class="paypalform" action="https://www.sandbox.paypal.com/us/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="upload" value="1" />
            <input type="hidden" name="business" value="sb-xd3e51959336@business.example.com">

            @foreach (var item in Model)
            {
                <input type="hidden" name="item_name_@count" value="@item.ProductPL.Name">
                <input type="hidden" name="amount_@count" value="@item.Price">
                <input type="hidden" name="quantity_@count" value="@item.Quantity">
                count++;
            }

            <input type="hidden" name="currency_code" value="USD">

            <div style="display:none">
                <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" />
            </div>
        </form>
    </div>
    <br />

    <a href="#" class="createorder btn btn-primary float-right">Checkout</a>
}
@section Scripts
    {
    <script src="~/Scripts/CustomJS/AmountModificatorShopCartScript.js"></script>
} 